@model ClothesEcommerce.Models.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/AccountLayout.cshtml";
}

<h2 class="alert-warning">@ViewBag.Msg</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation custom-outline", novalidate = "true" }))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <div class="input-group">
            <label>Password</label>
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            @Html.EditorFor(model => model.Password, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <div class="input-group">
            <label for="NewPassword">New Password</label>
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            @Html.Password("NewPassword", null, new { @class = "form-control", placeholder = "Enter a new password" })
        </div>
        @Html.ValidationMessage("NewPassword", "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <div class="input-group">
            <label for="ConfirmNewPassword">Confirm New Password</label>
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            @Html.Password("ConfirmNewPassword", null, new { @class = "form-control", placeholder = "Confirm the new password" })
        </div>
        @Html.ValidationMessage("ConfirmNewPassword", "", new { @class = "text-danger" })
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary ml-2">Save</button>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary ml-2" })
    </div>
}